.chat-header{
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    padding: 4px;
    border-bottom: 1px solid rgb(185, 182, 182);
}
.chat-details{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 40px;
    margin-bottom: 6px;

}
.chat-messages{
    background: url('https://i.redd.it/qwd83nc4xxf41.jpg'),rgba(255, 239, 239, 0.726);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 76vh;
    height: 76vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.received-message{
    background-color: rgba(255, 255, 255, 0.493);
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin: 6px;
    border-radius: 20px;
    min-height: fit-content;
    word-wrap: break-word;
    margin: 6px;
}
.sent-message{
    background-color: rgba(21, 156, 39, 0.582);
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin: 6px;
    border-radius: 20px;
    min-height: fit-content;
    word-wrap: break-word;
    position: relative;
    float: right;
    margin: 6px;
}
.senders-name{
    font-size: 1rem;
    margin-left: 6px;
}
.chat-message{
    font-size: 14px;
    margin-left: 6px;
}
.send-message-div{
    display: flex;
    height: 7vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
}
.message-input{
    width:80%;
    height: 60%;
    border:1px solid white;
    border-radius: 40px;
    font-size: 1.2rem;
    padding: 6px 10px;
    margin-bottom: 2.5px;
}
.message-input:focus{
    outline: none;
}
.message-btn{
    margin-right: 20px;
    color: white !important;
    background-color: rgb(0, 66, 0) !important;
    padding: 6px !important;
    border: 1px solid rgb(0, 66, 0);
    border-radius: 50%;
}
.message-btn:hover{
    background-color: rgb(0, 90, 0) !important;
    border: 1px solid rgb(0,90,0);
    cursor: pointer;
}