*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.home{
    width:94vw;
    height: 94vh;
    box-shadow: 4px 4px 4px 4px black;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 20px;
    background-color: lightgray;
}
.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    background-color: rgb(231, 229, 229);
    min-width: max-content;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgray;
    border-right:1px solid rgb(185, 182, 182);
    align-items: center;
}
.each-chat{
    display: flex;
    flex-direction: column;
    flex:0.64;
}
.search{
    background: white;
    display: flex;
    width: 88%;
    height: 4%;
    padding:6px;
    justify-content: center;
    margin: 20px auto;
    border: 1px solid white;
    border-radius: 40px;
}
.search>input{
    margin-left: 8px;
    width: 90%;
    border: none;
    font-size: 1.1rem;
}
.search>input:focus{
    outline: none;
}
.sidebarChats{
    background-color: white;
    min-height: 72vh;
    overflow-y: scroll;
    overflow-x: hidden;
}